.login-container {
    width: 470px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: 3px;
}

.text {
    color: #0a2f57;
    font-size: 48px;
    font-weight: 700;
}

.inputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 40px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 380px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #000;
    font-size: 18px;
    padding-top: 20px;
}

.forgot-password span {
    color: #0a2f57;
    cursor: pointer;
}

.login-submit-container {
    display: flex;
    justify-content: center;
    margin-top: -5px;
    width: 100%;
    padding-top: 20px;
    color: #0a2f57;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #0a2f57;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.gray {
    background: #eaeaea;
    color: #676767;
}

.branch-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.branch-label {
    font-size: 16px;
    color: #676767;
    padding-left: 20px;
}

.branch-dropdown {
    width: 145px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #f9f9f9;
}
