body {
  background-color: #040D21;
  background-image: 
      radial-gradient(circle at top left, rgba(58, 85, 139, 0.2), transparent), 
      radial-gradient(circle at bottom right, rgba(142, 68, 173, 0.2), transparent);
  color: white;
}

.semester-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap: -10px; 
}

.semester-section {
  position: relative;
  width: 100%;
  padding-top : 20px;
}

.semester-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 40px; 
  position: absolute;
  top: 0px; 
  left: 50%;
  transform: translateX(-50%);
}

.bigger-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin: 5px auto; 
  border-radius: 20px;
  max-width: 1600px;
  width: 95%;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.chart-container,
.table-container {
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: center;
  margin-top: 50px; 
}

.chart-container h4,
.table-container h4 {
  margin-top: -40px; 
  margin-bottom: 20px; 
  font-size: 1.5rem; 
  color: white; 
  position: relative; 
  top: -15px; 
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 20px;
  text-align: left;
}

.course-link {
  color: #0066cc;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.course-link:hover {
  color: #82ca9d;
}

.pass {
  color: green;
  font-weight: bold;
}

.fail {
  color: red;
  font-weight: bold;
}