body {
  background-color: #040D21;
  background-image: 
      radial-gradient(circle at top left, rgba(58, 85, 139, 0.2), transparent), 
      radial-gradient(circle at bottom right, rgba(142, 68, 173, 0.2), transparent);
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.welcome-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

div.bigger-container {
background-color: rgba(0, 0, 0, 0.3);
padding: 30px;
margin: 40px auto;
border-radius: 20px;
max-width: 1600px;
width: 95%;
height: auto;
box-sizing: border-box;
}

.backlog-container {
display: flex;
flex-direction: column;
align-items: center;
background: rgba(0, 0, 0, 0.4);
padding: 20px;
border-radius: 15px;
width: 100%; 
max-width: 800px; 
box-sizing: border-box; 
}

.backlog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  color: #89CFF0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  transition: background 0.3s;
  border-radius: 8px;
}

.backlog-item:hover {
  background: rgba(0,0,0,0.7);
}

.supplementary {
  font-size: 0.85rem;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
