body {
    background-color: #040D21;
    background-image: 
        radial-gradient(circle at top left, rgba(58, 85, 139, 0.2), transparent), 
        radial-gradient(circle at bottom right, rgba(142, 68, 173, 0.2), transparent);
    color: white;
}

.welcome-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}